.form {
  position: relative;
  max-width: 500px;
  width: 100%;
  height: 30px;
  justify-self: flex-start;
  margin-right: auto;
}

.search {
  border-radius: 20px;
  padding: 5px;
  width: 100%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.search:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.search:active {
  border-radius: 20px;
  padding: 5px;
  width: 100%;
  height: 30px;
}

.search::-webkit-search-cancel-button {
  display: none;
}

.button {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.36s ease-in-out;
}
.button:disabled {
  color: rgba(0, 0, 0, 0.2);
}

.svg {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .form {
    height: 40px;
  }

  .search {
    height: 40px;
    font-size: 18px;
    padding: 5px 15px;
  }

  .button {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1024px) {
  .search {
    font-size: 20px;
    padding: 5px 25px;
  }

  .button:hover {
    color: orange;
  }
}
